# Add any directories, files, or patterns you don't want to be tracked by version control
/build
/packages
//Aircompany/vs
/Aircompany/obj
/Aircompany/bin
/AircompanyTests/obj
/AircompanyTests/bin
*.suo
/Aircompany.v12.suo
/AircompanyTests.v12.suo
